:root{
    --btn-color: rgb(230, 87, 87);
}
section {
  height: 100%;
  width: 100%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.title h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.title .underline {
  height: 5px;
  width: 120px;
  background-color: rgb(234, 68, 68);
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.single-tour {
  width: 600px;
  margin-bottom: 30px;

  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.single-tour img {
  height: 385px;
  width: 100%;
}
.single-tour footer{
    padding: 20px 40px;
}
.single-tour > footer > .tour-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 0 0 20px 0;
}
.tour-price{
    padding: 3px;
    font-size: 1rem;
    background-color: rgb(185, 245, 245);
    color: rgb(31, 174, 174);
}
.single-tour > footer > p{
    color: rgba(0, 0, 0, 0.631);
}
.single-tour > footer > .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-tour > footer > .btn-container > button{
    width: 220px;
    height: 30px;
    font-size: 1rem;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--btn-color);
    background-color: transparent;
    color: var(--btn-color);
    font-weight: 600;

    transition: all 0.2s ease-in-out;
}
.single-tour > footer > .btn-container > button:hover{
    background-color: var(--btn-color);
    color: #FFF;
}
