.container{
  min-height: 550px;
  width: 940px;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  padding: 30px;

  display: flex;
}
.title{
  width: 30%;
  display: inline-block;
  font-size: 1.2rem;
  text-align: left;
}
.questions-container{
  width: 70%;
  padding-left: 20px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-question{
  width: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);

  padding: 20px;
  margin: 10px 0;
}
.single-question .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head h3{
  font-size: 1.5rem;
}
.btn-toggle{
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 50%;
  color: var(--main-color);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

  transition: all 0.2s ease-in-out;
}
.body p{
  margin-top: 10px;
}
.btn-toggle:hover{
  background-color: var(--main-color);
  color: #fff;
}
