article{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.description{
    width: 75%;
}
.description h4,
.description p {
    font-size: 1rem;
    display: block;
}
.description p{
    color: rgba(0, 0, 0, 0.501);
}