.main {
  margin: 0 150px;
}
.title {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.title h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.title .underline {
  width: 150px;
  height: 5px;
  background-color: var(--main-color);
}
.job-container {
  padding: 0 50px;
  min-height: 450px;
  /* background-color: aqua; */
  display: flex;
}
.btn-container {
  width: 220px;
  height: 100%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.btn-container .job-btn {
  height: 40px;
  width: 150px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-container button:hover {
  color: var(--main-color);
  background-color: rgba(238, 238, 238, 0.156);
  border-left: 5px solid var(--main-color);
  box-shadow: 0 2px rgba(0, 0, 0, 0.087);
}
.active-btn {
  color: var(--main-color);
  background-color: rgba(238, 238, 238, 0.156);
  border-left: 5px solid var(--main-color);
  box-shadow: 0 2px rgba(189, 29, 247, 0.914);
}
.main-jobs header {
  margin-bottom: 18px;
}
.main-jobs h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.company {
  margin-bottom: 8px;
  display: inline-block;
  padding: 3px 8px;
  color: rgb(75, 32, 102);
  background-color: var(--highlight-color);
}
.dates {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.551);
}
.duty {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.bullet {
  margin: 0 25px;
  color: var(--main-color);
}
.info-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-info {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  width: 220px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.208);
  transition: all 0.2s ease-in-out;
}
.btn-info:hover {
  transform: translateY(-10%);
  background-color: var(--pressed-color);
}
